/* html {
    background-color: aliceblue;
}

.navbar {
    width: 100vw;
    height: 10%;
    background-color: #2196F3;
    display: flexbox;
    align-items: center;
    justify-content: center;
} */